@model Kuyumcu.Models.OzelBanka

@{
    Layout = null;
    var grid = new WebGrid(source: Model.Banka, canPage: true, rowsPerPage: 8);
    grid.Pager(WebGridPagerModes.All);
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Ercan Kardeşler Kuyumculuk</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function iptalet() {
            window.location.reload(true);
        }

        function getHesapNo() {
            var value = document.getElementById("bankalar").value;
            $.ajax({
                dataType: "html",
                type: "POST",
                url: "/Finans/KomisyonTanim1",
                data: { banka: value },
                success: function (data) {
                    var select = document.getElementById("hesaplar");
                    $(hesaplar).empty();
                    data = JSON.parse(data);
                    select.append(new Option("Seçiniz", "Seçiniz"));
                    for (index in data) {
                        select.append(new Option(data[index], data[index]));
                    }

                }
            });
        }
    </script>

    <style>
        @@media screen and (max-width: 400px) {
            .navbar {
                float: none;
                width: 60%;
            }
        }

        #Araclar {
            margin: 8px;
        }


        .araclarMenu {
            display: inline;
            height: 45px;
            /*width: 100px; !* Optional to keep buttons same size *!*/
            padding: 0px 1px;
            text-align: center;
            background-color: #394F85;
            padding: 2px 8px;
        }

        .navbar .btn {
            color: #394F85;
        }

        .btn {
            font-weight: 500;
        }

        .inputField {
            text-align: center;
            border-style: inset;
            background-color: whitesmoke;
            width: 88%;
        }

        .inputField2 {
            text-align: center;
            border-style: inset;
            background-color: whitesmoke;
            width: 70%;
        }

        .urunLabel {
            display: block;
            text-align: left;
            /*width: 92px;*/
            margin-top: 5px;
            font-weight: bold;
        }

        .comboBox {
            /*width: 170px;*/
            width: 88%;
            text-align: center;
            height: 32px;
        }

        .pairRow {
            display: inline-flex;
            text-align: left;
            font-weight: bold;
            margin-top: 5px;
        }

        .butonLayout {
            margin-top: 2%;
            text-align: center;
            padding: 2%;
            border-top: 5px groove;
        }

        .webgrid-table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            width: 100%;
            display: table;
            border-collapse: separate;
            border: solid 1px deepskyblue;
            background-color: white;
        }

            .webgrid-table td, th {
                border: 1px solid deepskyblue;
                padding: 3px 7px 2px;
            }

        .webgrid-header {
            background-color: darkcyan;
            color: white;
            padding-bottom: 4px;
            padding-top: 5px;
            text-align: left;
        }

        .webgrid-footer a {
            color: black;
        }

        .webgrid-row-style {
            padding: 3px 7px 2px;
        }

        .webgrid-alternating-row {
            background-color: #EAF2D3;
            padding: 3px 7px 2px;
        }

        a {
            color: white;
        }
    </style>
</head>
<body>
    <div class="navbar" style="background-color:#394F85">
        <a class="navbar-brand">
            <img src="~/Images/logoson.png"
                 style="width: 125px;height:38px;">
        </a>
        <a href="/Anasayfa" button class="btn btn-light">ANA SAYFA</a>
        <a href="/Musteri/MusteriIslemleri" button class="btn btn-light">MÜŞTERİ İŞLEM</a>
        <a href="/Kuyumcu/Kuyumcu" button class="btn btn-light">KUYUMCU</a>
        <a href="/KuyumcuSorgu" button class="btn btn-light">SORGU</a>
        <a href="/PersonelTakip" button class="btn  btn-light">PERSONEL</a>
        <a href="/Finans" button class="btn btn-light">FİNANS</a>
        <a href="/Toptanci" button class="btn btn-light">TOPTANCI</a>
        <a href="/Ayarlar" button class="btn btn-light ">AYARLAR</a>
        <a href="../" button class="btn btn-light ">ÇIKIŞ YAP</a>
    </div>


    <div id="Araclar" class="collapsed">
        <a href="Onay" button class="btn btn-dark araclarMenu">FATURA EKRANI</a>
        <a href="BankaTanim" button class="btn btn-dark araclarMenu">BANKA TANIM</a>
        <a href="KomisyonTanim" button class="btn btn-dark araclarMenu">KOMİSYON TANIM</a>
        <a href="Gelir_Gider" button class="btn btn-dark araclarMenu">GELİR-GİDER</a>
        <a href="Kasa" button class="btn btn-dark araclarMenu">KASA</a>
        <a href="BankaIslemleri" button class="btn btn-dark araclarMenu">BANKA İŞLEMLERİ</a>
        <a href="BankadanOdeme" button class="btn btn-dark araclarMenu">BANKADAN ÖDEME</a>
        <a href="BorcEmanetDetay" button class="btn btn-dark araclarMenu">BORÇ-EMANET DETAY</a>
        <a href="BorcEmanetIslemleri" button class="btn btn-dark araclarMenu">BORÇ-EMANET İŞLEMLERİ</a>
        <a href="KKTahsilat" button class="btn btn-dark araclarMenu">KREDİ KARTI TAHSİLAT</a>
    </div>

    @using (Html.BeginForm("KomisyonTanim2", "Finans", FormMethod.Post))
    {
    <div class="container-fluid">
        @{ Html.EnableClientValidation(false); }
        <div class="row">

            <!--TABLOYU BU ALANA YERLEŞTİREBİLİRSİN-->


            <div class="col-md-9 col-sm-12 ">
                <div>
                    <div id="content">
                        @*@grid.GetHtml(
                        tableStyle:"webgrid-table",
                        headerStyle:"webgrid-header",
                        footerStyle:"webgrid-footer",
                        alternatingRowStyle:"webgrid-alternating-row",
                        rowStyle:"webgrid-row-style",
                        columns:grid.Columns(
                            //here i will add column for serial no
                            grid.Column(columnName: "BankaAdi", header: "Banka Adı"),
                            grid.Column(columnName: "SubeAdi", header: "Şube No"),
                            grid.Column(columnName: "HesapDovizTuru", header: "Döviz Türü"),
                            grid.Column(columnName: "BankaSubeAdi", header: "Şube Adı"),
                            grid.Column(columnName: "HesapNumarasi", header: "Hesap Numarası"),
                            grid.Column(columnName: "BankaTelefon", header: "Telefon"),
                            grid.Column(columnName: "FaxNo", header: "Fax No"),
                            grid.Column(columnName: "BankaAciklama", header: "Banka Açıklama"),
                            grid.Column(columnName: "EsnekBakiyeLimiti", header: "Esnek Bakiye")
                            ))*@
                        @Html.DevExpress().GetStyleSheets(
                           new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                           new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
                           new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
                       )
                        @Html.DevExpress().GetScripts(
                            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                            new Script { ExtensionSuite = ExtensionSuite.Editors },
                            new Script { ExtensionSuite = ExtensionSuite.GridView }
                        )

                        @Html.Action("GridKomisyonPartial")

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-8">
                <div>
                    <label class="urunLabel" for="bankaAdi">Banka Adı</label>
                    @Html.DropDownListFor(x => x.Komisyon.BankaAdi, new List<SelectListItem>
                        {
                        new SelectListItem { Text = "VAKIFBANK", Value = "VAKIFBANK"},
                        new SelectListItem { Text = "TEB", Value = "TEB"},
                        new SelectListItem { Text = "GARANTİ", Value = "GARANTİ"},
                        new SelectListItem { Text = "DENIZBANK", Value = "DENIZBANK"},
                        new SelectListItem { Text = "AKBANK", Value = "AKBANK"},
                        new SelectListItem { Text = "FINANSBANK", Value = "FINANSBANK"},
                        new SelectListItem { Text = "İŞBANKASI", Value = "İŞBANKASI"},
                        new SelectListItem { Text = "YAPIKREDİ", Value = "YAPIKREDİ"},
                        new SelectListItem { Text = "ZİRAAT", Value = "ZİRAAT"}
                        }, "Seçiniz", new
                        {
                            @Class = "comboBox",
                            onchange = "getHesapNo()",
                            id ="bankalar"
                        })
                </div>
                <div>
                    <label class="urunLabel" for="bankaHesapNumarasi">Hesap Numarası</label>
                    @Html.DropDownListFor(x => x.Komisyon.HesapNumarasi, new SelectList(Model.Hesaplar).ToList(),
                     "Seçiniz", new
                     {
                         @Class = "comboBox",
                         @id = "hesaplar",

                     })
                </div>
                <div>
                    <label class="urunLabel" for="hesapDovizTuru">Taksit Sayısı</label>
                    @Html.DropDownListFor(x => x.Komisyon.Taksit, new List<SelectListItem>
                    {
                    new SelectListItem { Text = "1", Value = "1"},
                    new SelectListItem { Text = "2", Value = "2"},
                    new SelectListItem { Text = "3", Value = "3"},
                    new SelectListItem { Text = "4", Value = "4"},
                    new SelectListItem { Text = "5", Value = "5"},
                    new SelectListItem { Text = "6", Value = "6"},
                    new SelectListItem { Text = "7", Value = "7"},
                    new SelectListItem { Text = "8", Value = "8"},
                    new SelectListItem { Text = "9", Value = "9"},
                    new SelectListItem { Text = "10", Value = "10"},
                    new SelectListItem { Text = "11", Value = "11"},
                    new SelectListItem { Text = "12", Value = "12"}
                    }, "Seçiniz", new
                    {
                        @Class = "comboBox",
                        @id = "taksitler",

                    })
                </div>
                <div>
                    <label class="urunLabel" for="esnekBakiyeLimiti">Komisyon %</label>
                    @*<input type="text" class="inputField" id="esnekBakiyeLimiti" name="esnekBakiyeLimiti">*@
                    @Html.TextBoxFor(x => x.Komisyon.Komisyon, new { @class = "inputField", id = "Komisyon", name = "Komisyon" })

                </div>

            </div>
        </div>
    </div>

        <div class="container-fluid butonLayout">
            <div class="row">
                <div class="col-3">
                    @*<button type="submit" class="btn btn-success"><i class="fa fa-fw fa-save" value="KAYDET"></i>KAYDET</button>*@
                    <input name="submit" class="btn btn-success" type="submit" id="submit" value="KAYDET" />
                </div>
                <div class="col-3">
                    <a href="KomisyonTanim">
                        <button type="button" class="btn btn-warning"><i class="fa fa-fw fa-undo"></i>İPTAL</button>
                    </a>
                </div>
            </div>
        </div>
    }
</body>
</html>

